:root {
    --purple: #7a6eaa;
    --title-purple: #7645d9;
    --lightPurple: #eeeaf4;
    --white: #ffffff;
    --lightgrey: lightgray;
    --greypurple: #b6b3c3;
    --tabs-width: 120px;
    --tabs-height: 13px;
    --greybackground: #faf9fa;
    --backgroundpurple: #7645d980;
    --darkblue: rgb(4, 4, 44);
    --colors-dark-gradient: linear-gradient(139.73deg, #313d5c, #3d2a54);
}

#ecosystem-triangle.light-theme {
    width: 100%;
    height: 40px;
    background: linear-gradient(
        1deg,
        transparent,
        var(--greybackground),
        #d7caec
    );
    position: absolute;
}

#ecosystem-triangle.dark-theme {
    width: 100%;
    height: 40px;
    background: linear-gradient(
        1deg,
        transparent,
        var(--btn-dark-text),
        var(--backgroundpurple)
    );
    position: absolute;
}

/* general section css */
.ecosystem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: var(--greybackground);
    padding-bottom: 25px;
}

#ecosystem-section-logo {
    margin: 80px 0 0 0;
}

.ecosystem-container h3 {
    margin: 0 0 15px -30px;
}

.ecosystem h2 {
    font-size: 2.5rem;
    color: black;
    padding-bottom: 40px;
    font-weight: bold;
}

.ecosystem h2 span {
    color: var(--title-purple);
}

.ecosystem-card-container.light-theme {
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 20px 0px;
    width: auto;
    height: fit-content;
}

.ecosystem-link.light-theme {
    font-weight: bold;
    color: var(--purple);
}

.ecosystem-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#earn-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    box-sizing: border-box;
}

.trade-cards-container,
.gamenft-cards-container {
    width: auto;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(5, 170px);
    gap: 15px;
}

.earn-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 25px;
}

#trade-img {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
}

#gamenft-img {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
}

#earn-img {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
}

.trade-card-container-all {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
}

.trade-card-container-all h3,
.gamenft-card-container-all h3,
.earn-card-container-all h3 {
    font-size: 2rem;
    color: var(--purple);
    margin: 40px 0 20px 20px;
    font-weight: bold;
}

.trade-card-container-all p,
.gamenft-card-container-all p {
    font-size: 14px;
}

.ecosystem-card-container a {
    text-decoration: none;
    color: unset;
}

/* dark mode */
.ecosystem.dark-theme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: black;
}

.ecosystem h4 {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 3px 0;
}

.ecosystem.dark-theme h2,
.trade-cards-container.dark-theme h4,
.earn-cards-container.dark-theme h4,
.gamenft-cards-container.dark-theme h4,
.trade-cards-container.dark-theme p,
.earn-cards-container.dark-theme p,
.gamenft-cards-container.dark-theme p {
    color: white;
}

.ecosystem-card-container.dark-theme {
    background: rgb(4, 31, 69);
    background: linear-gradient(
        216deg,
        rgb(0, 20, 47) 0%,
        rgb(49, 25, 82) 100%
    );
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0 0 30px 0;
}

.ecosystem-link.dark-theme {
    font-weight: bold;
    color: var(--white);
}

.earn-cards-container a {
    width: 200px;
}

.earn-card,
.trade-card,
.gamenft-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.earn {
    width: 180px;
}

@media (min-width: 1080px) {
    .trade-card,
    .gamenft-card {
        height: 290px;
        width: 150px;
    }
}

@media (max-width: 1250px) {
    .trade-cards-container,
    .gamenft-cards-container {
        grid-template-columns: repeat(5, 150px);
    }

    .earn-cards-container {
        grid-template-columns: repeat(4, 190px);
        gap: 2px;
    }
}

@media (max-width: 1160px) {
    .trade-cards-container,
    .gamenft-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 190px);
        gap: 15px;
    }

    .earn-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 240px);
        gap: 20px;
    }

    .ecosystem-big-img {
        width: 350px;
        height: 400px;
        position: relative;
        left: 0;
        bottom: -30px;
    }

    .ecosystem-card-container.dark-theme,
    .ecosystem-card-container.light-theme {
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .ecosystem-card-container.dark-theme:nth-child(2),
    .ecosystem-card-container.light-theme:nth-child(2) {
        width: 100%;
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #trade-img,
    #gamenft-img {
        position: relative;
        left: -50px;
    }

    .gamenft-card-container-all,
    .trade-card-container-all,
    .earn-card-container-all {
        padding: 20px;
    }
}

@media (max-width: 1100px) {
    .ecosystem-card-container.dark-theme,
    .ecosystem-card-container.light-theme {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 0px;
        box-sizing: border-box;
    }

    .trade-cards-container,
    .gamenft-cards-container {
        display: grid;
        grid-template-columns: repeat(3, 190px);
        height: fit-content;
        gap: 5px;
    }

    .earn-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        justify-items: center;
    }

    .trade-card-container-all h3 {
        padding-left: 0px;
    }

    .ecosystem-big-img {
        width: 300px;
        height: 400px;
        position: relative;
        left: -30px;
        bottom: -30px;
    }

    #earn-container {
        gap: 0;
    }
}

@media (max-width: 915px) {
    .ecosystem-card-container.light-theme,
    .ecosystem-card-container.dark-theme {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 25px;
        box-sizing: border-box;
    }

    .ecosystem-container h3 {
        font-size: 2.7rem;
        margin: 30px 0;
    }

    .ecosystem-card-container p,
    .ecosystem-card-container h4 {
        font-size: 1.5rem;
    }

    .trade-cards-container,
    .gamenft-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    #earn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .earn-cards-container a {
        max-width: 270px;
    }

    .trade-card-container-all h3,
    .earn-card-container-all h3,
    .gamenft-card-container-all h3 {
        margin: 30px 0 30px 0px;
    }

    .trade-card,
    .gamenft-card {
        max-width: 210px;
        font-size: 1.5rem;
    }

    .earn-card {
        max-width: 250px;
        font-size: 1.5rem;
    }

    #gamenft-img,
    #trade-img {
        width: 350px;
        height: auto;
        position: relative;
        left: -150px;
    }

    #earn-img {
        width: 350px;
        height: auto;
        position: relative;
        left: -160px;
    }
}

@media (max-width: 760px) {
    .trade-cards-container a:last-of-type,
    .trade-cards-container a:last-of-type p,
    .gamenft-cards-container a:last-of-type,
    .gamenft-cards-container a:last-of-type p {
        width: 450px;
    }
}

@media (max-width: 650px) {
    .earn-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 240px);
        justify-items: center;
    }
}

@media (max-width: 574px) {
    .earn-card p,
    .trade-card p,
    .gamenft-card p {
        font-size: 14px;
    }

    .trade h4 {
        font-size: 1.1rem;
    }

    #trade-img.ecosystem-big-img,
    #earn-img.ecosystem-big-img,
    #gamenft-img.ecosystem-big-img {
        width: 350px;
    }

    .ecosystem h3 {
        font-size: 2rem;
        margin-left: 0;
    }

    #earn-img.ecosystem-big-img {
        position: relative;
        left: -80px;
    }

    #trade-img {
        left: -120px;
    }

    .data-hover-image {
        display: block;
    }

    .earn-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-items: center;
        gap: 30px;
    }

    .trade-cards-container,
    .gamenft-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 150px);
    }

    .tarde-card {
        padding: 20px;
    }

    .trade-cards-container a:last-of-type,
    .trade-cards-container a:last-of-type p,
    .gamenft-cards-container a:last-of-type,
    .gamenft-cards-container a:last-of-type p {
        width: 300px;
    }
}

@media (max-width: 475px) {
    .ecosystem h2 {
        padding: 15px 50px 15px;
        text-align: center;
    }

    #trade-img,
    #gamenft-img {
        left: -60px;
    }

    #earn-img.ecosystem-big-img {
        left: 0;
    }

    .ecosystem h4 {
        font-size: 1.2rem;
    }

    .gamenft-img img,
    .earn-img img,
    .trade-img img {
        width: 100px;
    }

    .earn-cards-container a {
        width: 120px;
    }
    .earn-cards-container {
        grid-template-columns: repeat(2, 150px);
        gap: 0px;
    }
}


.xsvqY {
    position: relative;
    display: flex;
    width: 100%;
    top: 0px;
}

#home-4 .inner-wedge svg {
    fill: #d8cbed;
}

.xsvqY.light-theme svg {
    fill: #d7caec;
    width: 100%;
    height: 100%;
    max-height: 48px;
}

.xsvqY.dark-theme svg {
    fill: #201335;
    width: 100%;
    height: 100%;
    max-height: 48px;
}