:root {
    --mustardyellow: #ffb237;
    --greyBorder: #403b47;
    --backgroundDarkGrey: #27262c;
    --purpleTweet: #b8add2;
    --communityInactiveButton: rgba(122, 110, 170, 0.7);
    --communityActiveButton: rgb(118, 69, 217);
    --bg-light-blue: #72b8f2;
    --bg-lightest-blue: #99b8c8;
}

.color-change.dark-theme {
    color: rgb(168, 129, 252);
}

.color-change.light-theme {
    color: var(--communityActiveButton);
}

.community.dark-theme {
    background: linear-gradient(#0b4574, #08060b);
    width: 100vw;
    height: 880px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.community.light-theme {
    background: linear-gradient(var(--bg-light-blue), var(--bg-lightest-blue));
    height: 880px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}


.community-container.dark-theme {
    width: 950px;
    height: auto;
    margin: auto;
    background-color: #030406;
    color: var(--btn-light-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 72px;
    position: absolute;
    top: 100px;
    opacity: 0.9;
    box-sizing: border-box;
}

.community ::before,
.community ::after {
    box-sizing: content-box;
}

.community-container.light-theme {
    width: 950px;
    height: auto;
    margin: auto;
    background-color: #e7e3eb;
    color: var(--btn-dark-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 72px;
    position: absolute;
    top: 100px;
    opacity: 0.9;
    box-sizing: border-box;
}

.community-title {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;
}


.community-container.light-theme h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 40px;
    color: #7a6eaa;
}

.community-container.dark-theme h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 40px;
    color: var(--purpleTweet);
}

.community-sm {
    width: 40px;
    height: 40px;
}

.community-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.community-card {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: #7745d8;
}

#community-card2.dark-theme {
    background-color: var(--backgroundDarkGrey);
    border: 1px solid var(--greyBorder);
    border-radius: 32px;
    padding: 10px;
    box-sizing: border-box;
}

#community-card2.light-theme {
    background-color: var(--bg-light);
    border: 1px solid var(--purpleTweet);
    border-radius: 32px;
    background-color: white;
    box-shadow: lightgray 0px 4px 0px 0px;
    padding: 10px;
    box-sizing: border-box;
}

#community-card1 p:nth-child(even) {
    font-size: 40px;
    font-weight: bold;
    color: var(--mustardyellow);
    margin: 0 0 10px;
}

#community-card1 p:nth-child(1),
#community-card1 p:nth-child(3),
#community-card1 p:nth-child(5) {
    color: white;
    margin: 0px;
    font-weight: bold;
    padding-top: 10px;
}

#community-card1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: left;
    justify-content: center;
    border-radius: 32px;
    border: 2px solid rgb(60, 23, 134);
    background: var(
        --linear,
        linear-gradient(180deg, #7645d9 0%, #5121b1 100%)
    );
    box-shadow: rgb(60, 23, 134) 0px 6px 0px 0px;
    padding: 24px;
    box-sizing: border-box;
}

#community-card1-content {
    margin: 0 0 0 50px;
}

#community-tweet-icons {
    font-size: 0.8rem;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

#community-tweet-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideshow-container {
    padding: 15px;
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

#community-card-slide1 a,
#community-card-slide1 a:visited {
    color: #1fc7d4;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 4px;
}

#community-card-slide1 a:hover {
    text-decoration: underline;
}

#community-tweet-icons p {
    margin: 8px 0;
}

#community-tweet-icons svg {
    width: 15px;
    height: 15px;
}

#community-tweet-likes,
#community-tweet-charts {
    display: inline-flex;
    align-items: center;
}

#fb-icon-link {
    width: 20px;
    height: 30px;
}

#community-tweet.dark-theme p {
    color: white;
    margin: 0;
}

#community-tweet.light-theme p {
    color: black;
    margin: 0;
}

#community-tweet-icons p {
    color: var(--purpleTweet);
}

#community-tweet-icons hr {
    height: 15px;
    color: var(--purpleTweet);
    font-weight: lighter;
    width: 1px;
}

#community-user-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#community-card-img {
    width: 280px;
}

#community-date {
    color: var(--purpleTweet);
    padding: 5px 0 0 0;
}

#tweet-title {
    font-weight: bold;
}

.community-slideshow-buttons button {
    display: inline-flex;
    border: none;
    background-color: var(--communityInactiveButton);
    width: 35px;
    height: 8px;
    bottom: 10px;
    gap: 3px;
}

#community-slide-button1 {
    border-radius: 10px 0 0 10px;
}

#community-slide-button2 {
    border-radius: 0 10px 10px 0;
}

.community-slideshow-buttons button.active {
    background-color: var(--communityActiveButton);
}

.community-card-slide h5 {
    margin: 5px 0;
    font-size: 1rem;
}

.community-sm.dark-theme {
    background-color: var(--backgroundDarkGrey);
    border-radius: 30px;
    padding: 10px;
    margin: 0 5px;
}

.community-sm.light-theme {
    background-color: var(--bg-light);
    border-radius: 30px;
    padding: 10px;
    margin: 0 5px;
}

.comunnity a:-webkit-any-link {
    text-decoration: none;
    color: initial;
}

#community-bg-x {
    position: absolute;
    left: 220px;
    top: 80px;
}

#community-bg-tg {
    position: absolute;
    left: 300px;
    top: 220px;
}

#community-bg-ig {
    position: absolute;
    left: 220px;
    top: 350px;
}

#community-bg-dis {
    position: absolute;
    left: 180px;
    top: 500px;
}

#community-bg-heart {
    position: absolute;
    right: 480px;
    top: -80px;
}

#community-bg-bell {
    position: absolute;
    right: 250px;
    top: 90px;
}

#community-bg-comment {
    position: absolute;
    right: 100px;
    top: 150px;
}

#community-bg-speaker {
    position: absolute;
    right: 160px;
    top: -100px;
}

#community-bg-dots {
    position: absolute;
    right: 40px;
    top: -60px;
}

.community-container .footer-socialmedia-container {
    display: flex;
    justify-content: center;
}

.community-icons {
    display: inline-flex;
    gap: 10px;
    padding-top: 35px;
}

.social-media-svg.light-theme {
    background-color: white;
    border-radius: 48px;
    width: 18px;
    height: 18px;
    padding: 15px;
    box-sizing: content-box;
}

.social-media-svg.dark-theme {
    background-color: #27262b;
    border-radius: 48px;
    width: 18px;
    height: 18px;
    padding: 15px;
    box-sizing: content-box;
}

@media (max-width: 1300px) {
    #community-bg-x {
        position: absolute;
        left: 40px;
        top: 80px;
    }

    #community-bg-tg {
        position: absolute;
        left: 50px;
        top: 210px;
    }

    #community-bg-ig {
        position: absolute;
        left: -10px;
        top: 350px;
    }

    #community-bg-dis {
        position: absolute;
        left: -30px;
        top: 500px;
    }
}

@media (max-width: 1200px) {
    .community-container.dark-theme,
    .community-container.light-theme {
        width: 90%;
    }

    #community-bg-x,
    #community-bg-tg,
    #community-bg-ig,
    #community-bg-dis {
        display: none;
    }

    #community-bg-bell {
        position: absolute;
        left: 30px;
        top: 600px;
    }

    #community-bg-heart {
        position: relative;
        left: 180px;
        top: -60px;
    }

    #community-bg-comment {
        position: relative;
        left: 350px;
        top: 0px;
    }

    #community-bg-speaker {
        position: relative;
        left: -50px;
        top: -50px;
    }

    #community-bg-dots {
        position: relative;
        left: -420px;
        top: 0px;
    }
}

@media (max-width: 900px) {
    .community-container {
        width: 92%;
    }
}

@media (max-width: 800px) {
    .tweet-content{
        font-size: 12px;
    }
}

@media (max-width: 778px) {
    .community.light-theme,
    .community.dark-theme {
        width: auto;
        height: 1250px;
        width: 100vw;
    }

    .community-cards {
        flex-direction: column;
        align-items: center;
    }

    .community-sm-container {
        margin: 0;
        padding: 0;
    }

    #community-bg-bell {
        position: absolute;
        left: 30px;
        top: 980px;
    }

    .community-container.dark-theme,
    .community-container.light-theme {
        width: 95%;
    }
    
}

@media (max-width: 500px) {
    #community-bg-comment {
        width: 150px;
        height: 150px;
        left: 280px;
    }

    .community.light-theme,
    .community.dark-theme {
        width: 100%;
        height: 1300px;
    }

    .community {
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    .comunity-container {
        width: 90%;
    }
}

@media (max-width: 430px){
    .social-media-svg.light-theme,
    .social-media-svg.dark-theme{
        padding: 10px;
    }
}

.slideshow-container p {
    margin-bottom: 0;
}

.slideshow-container {
    height: max-content;
    justify-content: space-between;
}

#community-card-slide1,
#community-card-slide2 {
    height: 255px;
}
